$colorGreen:#38bc3d;
$fontSizeP:20;
$fontSizeA:20;
$fontSizeH3: 26;

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {

    background-image: url(../../icons/background.png);
    margin: 0;
}

.white-strip {
    display: flex;
    background-color: transparentize(white, .2);
    height: 70px;

    nav {
        position: relative;
        display: flex;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        .home {
            display: inline-flex;          
            font-size: 30;

            span {
                color: $colorGreen;
                font-size: 25;
            }
        } 

        .menu {
            display: flex;          
            font-size: 16;

            span {
                margin-left: 10px;
                margin-right: 10px;
            }

            div {
                &:hover {
                    color: $colorGreen;
                    cursor: pointer;

                    &:after {
                        content: '';
                        position: relative;
                        display: block;
                        width: 0px;
                        height: 0px;
                        border-top: 4px solid;
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        opacity: 0.5;
                        margin-left: 38%;
                        margin-bottom: -7px;
                    }
                }
            }
        }
    }
}

a {
    background-color: $colorGreen;
    color: white;
    font-size: 20;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

.header-stripes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
    width: 100%;
    position: absolute;
    z-index: -1;

    div {
        height: 100px;
        background-color: transparentize(black, .2);

    }
}

.header-content {
    position: relative;
    bottom: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    top: 70px;

    .text-content {
        width: 35%;
    }


    h3 {
        display: inline;
        color: $colorGreen;
        line-height: 1.5;
        margin: 1% 0 0 0;
        font-size: $fontSizeH3;
        background: white;
    }

    p {
        background-color: white;
        font-size: $fontSizeP;
        margin-top: 3%;
    }

    .border-p {
        padding-right: 10px;
        padding-bottom: 10px;

        a {
            float: right;
            position: relative;
            bottom: 35px;
            left: 10px;
        }

    }

    .underline-span {
        span {
            color: $colorGreen;
            text-decoration: underline;
        }
    }

    iframe {
        width: 520;
        height: 300;
    }

}

.inform-class {
    position: relative;
    top: 180px;
    display: flex;
    justify-content: space-between;
    font-size: $fontSizeH3;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33%;

        h3 {
            margin: 20px 0 0 0;
        }

        img {
            height: 30px;
            width: 30px;
        }

        p {
            text-align: center;
            font-size: $fontSizeP;
            margin: 0 0 15px 0;
        }
    }

    span {
        color: $colorGreen
    }
}

footer {
    border-top: 1px solid #b0b3b7;
    box-shadow: inset 0px 1px 0px white;
    top: 250px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .twitter-icon,
    .facebook-icon,
    .rss-icon {
        flex-direction: row;
        width: 30px;
        height: 30px;
        display: inline-block;
        overflow: hidden;

        &:hover {
            text-indent: -30px;
        }
    }

    p {
        color: gray;
        margin-top: 0px;
    }

    div,
    p {
        padding-top: 3px;
    }
}

.navigation,
.header-content,
.inform-class,
footer {
    width: 80%;
    left: 10%;
}


@media (max-width: 768px) {

    .navigation,
    .header-content,
    .inform-class,
    footer {
        flex-direction: column;
        justify-content: center;
    }

    .header-content {
        iframe {
            position: relative;
            top: -25px;
        }

        .text-content {
            width: 84%;

            .border-p {
                p {
                    span {
                        display: none;
                    }
                }
            }

            .green-h3 {
                width: 95%;

                h3 {
                    margin-bottom: 10.5px;
                }
            }
        }
    }

    .inform-class {
        top: 80px;
        align-items: center;

        div {
            width: 78%;
            padding-top: 50px;

            p {
                margin-top: 1px;
                margin-bottom: 14px;
            }
        }
    }

    footer {
        align-items: center;
        top: 130px;

        p {
            display: none;
        }
    }
}

@media (max-width: 360px) { 

    .header-stripes {
        display: none;

        div {

            background-color: none;

        }
    }

    .header-content {
        left: 0px;
        width: 100%;
        p {
            font-size: $fontSizeP - 2;
        }
        .video {
            width: 100%;

            iframe {
                width: 100%;
                height: 200px;
            }
        }

        .text-content {
            width: 100%;

            .green-h3 {
                width: 100%;

                h3 {
                    width: 100%;
                    color: black;
                    font-size: $fontSizeP - 2;
                    font-weight: bold;
                }
            }
        }
    }

    .inform-class {
        left: 0px;
        width: 100%;

        div {
            width: 100%;

            p {
                font-size: $fontSizeP - 2;
            }
        }
    }

    h3 {
        font-size: $fontSizeH3 - 2;

        span {
            font-size: $fontSizeH3 - 2;
        }
    }

    a {
        font-size: $fontSizeA - 2;
    }

    .white-strip {
        height: 23%;
        background-color: transparentize(white, 1);

        nav {
            height: 40px;
            align-items: flex-start;
            left: 0;
            width: 100%;
            background-color: transparentize(white, .2);

            .home {
                padding-top: 3px;
                font-size: 26;               
                span {
                    font-size: 20;
                    ;
                }
            }

            .menu {
                flex-direction: column;
                width: 100%;
                margin-top: 50px;
               div{                          
                margin: 10px 10px 0 0;
               }
                span,
                .home-div {
                    display: none;
                }

                div {
                    border-bottom: solid 2px black;

                    &:hover {
                        border-bottom: solid 2px $colorGreen;

                        &:after {
                            content: none;

                        }
                    }
                }
            }
        }
    }
}